body{
    padding:0;
    margin:0;
    background-image: url('/static/images/2.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:aliceblue;
    margin:100px 0 0 0;
    text-align: center;
}
#chatbox {
    width: 45%;
    height: 350px;
    border: 1px solid #ccc;
    overflow-y: auto;
    margin: 20px auto;
    padding: 10px;
    background-color: #f9f9f9;
}
.user-msg {
    text-align: right;
    background-color: #d3f8d3;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}
.bot-msg {
    text-align: left;
    background-color: #e0e0e0;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

#send{
    width:20%;
    
    margin: 0 auto;
}
span{
    width:20%;
    margin:10px auto;
}